.env
myenv
__pycache__
.DS_Store
/glconnect/static/afro
/glconnect/static/gosp3
/glconnect/static/gospel2
/glconnect/static/gospel
/glconnect/static/mixes
/glconnect/static/satmix
/glconnect/__pycache__/
migrations
.vscode/
afro.m3u
gosp3.m3u
gospel.m3u
satmix.m3u
liquidsoap.tar
icecast2.tar
tts.json
