.env
myenv
__pycache__
.DS_Store
/glconnect/static/afrob
/glconnect/static/gosp3/
/glconnect/static/gospel
/glconnect/static/mixes
/glconnect/__pycache__/
migrations
.vscode/
Dockerfilel
Dockefileice
