
.search-bar {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    width: 100%; 
    margin-bottom: 20px;
}

.search-bar input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.search-bar button {
    padding: 10px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.search-playlist-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.playlist-container,
.results-container {
    background-color: #ff8c00;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 300px; 
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
}

.playlist-container {
    max-height: 100%; 
}

.results-container {
    margin-top: 20px;
    padding: 15px;
    color: #ff8c00;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 400px; 
}

.song-item {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    background: #1e1e1e; 
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    flex-grow: 0;
    visibility: visible !important;
    opacity: 1 !important;
}

@media (max-width: 768px) {
    .search-playlist-container {
        flex-direction: column;
        align-items: center;
    }

    .playlist-container,
    .results-container {
        width: 100%;
        margin-top: 20px;
    }

    .search-bar {
        width: 100%;
    }

    .search-bar input {
        width: 100%
    }

    .song-item {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .song-item button {
        width: 100%;
        margin-top: 10px; 
    }
}
audio {
    width: 100px; 
    height: 30px; 
}
