.register-container {
    background-color: #ffffff9d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    max-width: 90%;
    margin-top: 20px;
}

.register-container h2 {
    margin-top: 0;
    color: black;
}

.register-container form {
    margin-top: 20px;
}

.register-container input[type="text"],
.register-container input[type="password"],
.register-container input[type="email"],
.register-container input[type="tel"],
.register-container select {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.register-container select {
    -webkit-appearance: none; /* For better styling in some browsers */
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="none" stroke="%23333" stroke-width="1" d="M1 4l5 5 5-5"></path></svg>'); /* Down arrow */
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px; /* Make space for the down arrow */
}

.register-container .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border: 2px solid #007bff;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.register-container .btn:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .register-container {
        width: 100%;
        padding: 15px;
    }
}

.register-container p {
    font-size: 16px;
    margin-top: 20px;
}

.register-container a {
    text-decoration: none; 
    color: #007bff; 
    font-weight: bold; 
    transition: color 0.3s ease; 
}

.register-container a:hover {
    color: #0056b3;
}

.register-container a:active {
    color: #ff8c00; 
}
