<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GLC Streaming{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>

    <header>
        <div class="container">
            <div class="middle">
                <nav>
                    <ul>
                        <li><a href="http://glconnect.onrender.com/about">About</a></li>
                        <li><a href="http://glconnect.onrender.com/home">Home</a></li>
                        <li><a href="http://glconnect.onrender.com/blog/contact">Contact</a></li>
                        <li><a href="http://127.0.0.1:8001">API</a></li>
                    </ul>
                </nav>
            </div>
            <div class="right">
                <ul>
                    <li>
                        <a href="#" id="dropdownButton">▼</a>
                        <div class="dropdown-menu" id="dropdownMenu">
                            <a href="{{ url_for('prof.profile') }}">Music</a>
                            <a href="{{ url_for('routes.home') }}">Radio</a>
                            <a href="{{ url_for('routes2.news') }}">News</a>
                            <a href="{{ url_for('blog.blogs') }}">Blogs</a>
                            <a href="{{ url_for('routes1.findwords') }}">Language</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <audio controls>
        <source src="http://localhost:8000/station" type="audio/ogg">
    </audio>

    <main>
        <section id="hero" class="hero">
            {% block salutation %}
            {% endblock %}
            
            {% block images %}
            {% endblock %}
        </section>

        <section id="categories" class="categories">
            <div class="category-cards">
                <div class="card">
                    <a href="/prof/uprofile">
                        <img src="/static/images/party.webp" alt="Category 1">
                        <h3>Music</h3>
                    </a>
                </div>
                <div class="card">
                    <a href="/">
                        <img src="/static/images/onair.webp" alt="Category 2">
                        <h3>Radio</h3>
                    </a>
                </div>
                <div class="card">
                    <a href="/routes1/words">
                        <img src="/static/images/photo3.webp" alt="Category 3">
                        <h3>Language</h3>
                    </a>
                </div>
                <div class="card">
                    <a href="/blog/blogs">
                        <img src="/static/images/landscape.jpg" alt="Category 3">
                        <h3>Blogs</h3>
                    </a>
                </div>
                <div class="card">
                    <a href="/routes2/news">
                        <img src="/static/images/news.avif" alt="Category 3">
                        <h3>News</h3>
                    </a>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 GLC | All Rights Reserved</p>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
        const dropdownButton = document.getElementById("dropdownButton");
        const dropdownMenu = document.getElementById("dropdownMenu");
    
        dropdownButton.addEventListener("click", function (event) {
            event.stopPropagation();
            dropdownMenu.classList.toggle("show");
        });
    
        document.addEventListener("click", function (event) {
            if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
                dropdownMenu.classList.remove("show");
            }
        });
    });
    
</script>
</body>
</html>

