{%extends "parent.html"%}
{%block content%}
{% include 'messages.html' %}

    <form method="POST" action="" enctype="multipart/form-data">
        <legend>{{ legend }}</legend>
        {{ form.hidden_tag()}}

        <div style="margin-bottom: 15px;">
            <label for="{{ form.title.id }}">Title</label>
            {{ form.title(class="form-control") }}
        </div>

        <div style="margin-bottom: 15px;">
            <label for="{{ form.content.id }}">Content</label>
            {{ form.content() }}
        </div>

        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

    {{ ckeditor.load() }}
    {{ ckeditor.config(name='content', upload_url=url_for('blog.upload')) }}

{%endblock content%}