{% extends "base.html" %}

{% block title %}Login | GLC content streaming{% endblock %}

{% block salutation %}
<div class="login-container">
    {% include 'messages.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/login.css') }}">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username(placeholder="Username") }}
        {{ form.password(placeholder="Password") }}
        <div class="remember-me">
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </div>
        {{ form.submit(class="btn") }}
    </form>
    {% set login_next = request.args.get('next') %}
    <p>Don't have an account? {% if login_next %}<a href="{{ url_for('routes1.register', next=login_next) }}">Register</a>{% else %}<a href="{{ url_for('routes1.register') }}">Register</a>{% endif %}</p>
    <p><a href="{{ url_for('routes1.reset_password_request') }}">Forgot Password?</a></p>

</div>
{% endblock %}
